<launch>
    <!-- Parameters -->
    <arg name="robot_name" default="husky_1"/>
    <arg name="world_frame_id" default="world"/>

    <!-- Flip RGB and Depth image -->
    <node pkg="semantic_octomap" type="img_inverter_node.py" name="rgb_inverter" output="screen">
        <param name="input_topic" value="/$(arg robot_name)/image"/>
        <remap from="/output_img" to="/$(arg robot_name)/flipped/rgb_image" />
    </node>
   
    <node pkg="semantic_octomap" type="img_inverter_node.py" name="depth_inverter" output="screen">
        <param name="input_topic" value="/$(arg robot_name)/depth_image"/>
        <remap from="/output_img" to="/$(arg robot_name)/flipped/depth_image" />
    </node>

</launch>
