<launch>
    <!-- Parameters -->
    <arg name="robot_name" default="jackal2"/>
    <arg name="world_frame_id" default="odom"/>

    <!-- Flip RGB and Depth image -->
    <node pkg="semantic_octomap" type="img_inverter_node.py" name="rgb_inverter" output="screen">
        <param name="input_topic" value="/$(arg robot_name)/camera/color/image_raw"/>
        <remap from="/output_img" to="/$(arg robot_name)/flipped/rgb_image"/>
    </node>
    <node pkg="semantic_octomap" type="img_inverter_node.py" name="depth_inverter" output="screen">
        <param name="input_topic" value="/$(arg robot_name)/camera/depth/image_rect_raw"/>
        <remap from="/output_img" to="/$(arg robot_name)/flipped/depth_image"/>
    </node>

    <!-- SSMI Mapping Parameters-->
    <rosparam file="$(find semantic_octomap)/params/robot/semantic_cloud.yaml" command="load"/>
    <rosparam file="$(find semantic_octomap)/params/robot/reverse_color_id_officesim.yaml" command="load"/>
    <rosparam file="$(find semantic_octomap)/params/robot/octomap_generator.yaml" command="load"/>
    <param name="/octomap/world_frame_id" value="$(arg world_frame_id)"/>

    <!-- SSMI Mapping Semantic PCL Generator-->
    <node pkg="semantic_octomap" type="semantic_sensor_node.py" name="semantic_cloud" output="screen">
        <rosparam file="$(find semantic_octomap)/params/robot/officesim_color_id.yaml" command="load"/>
    </node>

    <!-- Launch SSMI Mapping-->
    <node pkg="semantic_octomap" type="semantic_octomap" name="semantic_octomap" output="screen"/>
    <node pkg="semantic_octomap" type="save_map.py" name="save_map" output="screen">
        <param name="save_dir" value="$(find label_map)/maps"/>
    </node>

    <!-- SSMI Planning Parameters-->
    <rosparam file="$(find semantic_info_gathering)/robot/params/exploration_params.yaml" command="load"/>
    <node name="semantic_exploration" pkg="semantic_info_gathering" type="semantic_exploration_node.py" output="screen"/>
    <node name="path_navigation_node" pkg="semantic_info_gathering" type="path_navigation_node_position.py" output="screen"/>

</launch>
