<launch>

    <arg name="world" default="office"/>
    <arg name="want_gui" default="false"/>
    <arg name="sim" default="true"/>
    <arg name="robot_name" default="husky_1"/>
    <arg name="active_mapping" default="false"/>

    <!-- Launch the corresponding environment if sim otherwise don't launch-->
    <group if="$(arg sim)">
        <include file="$(find jackal_solar_sim)/launch/launch_jackal_$(arg world).launch">
            <arg name="want_gui" value="$(arg want_gui)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
        </include>
    </group>

    <!-- Launch SSMI Mapping -->
    <!-- if sim, set world_frame_id to world -->
    <group if="$(arg sim)">
        <include file="$(find semantic_octomap)/launch/semantic_octomap.launch">
            <arg name="world_frame_id" value="world"/>
        </include>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find semantic_octomap)/launch/semantic_octomap.launch"/>
    </group>

    <!-- Launch SSMI Planning -->
    <group if="$(arg active_mapping)">
        <include file="$(find semantic_info_gathering)/launch/run_semantic_exploration.launch">
            <arg name="rviz" value="false"/>
        </include>
        <node name="power_diagram_node" pkg="car_control" type="power_diagram_node" output="screen">
            <rosparam file="$(find car_control)/config/power_diagram_gains.yaml" command="load"/>
            <remap from="~position_cmd" to="/planner/position_cmd"/>
            <remap from="~pose" to="/$(arg robot_name)/pose"/>
            <remap from="~commands" to="/$(arg robot_name)/cmd_vel" />
        </node>
    </group>

    <arg name="radius" default="2.0" />
    <arg name="semantic_map" default="/semantic_map_2D" />
    <arg name="label_map" default="/label_map" />
    <arg name="label_map_viz_topic" default="/label_map_viz" />
    <arg name="test_package" default="false" />


    <node pkg="speech_to_ltl" type="ltl_translate_node.py" name="ltl_translate_node" output="screen">
    </node>

    <node name="ros_label_map" pkg="label_map" type="label_map_ros.py" output="screen">
        <param name="radius" value="$(arg radius)" />
        <param name="semantic_map" value="$(arg semantic_map)" />
        <param name="label_map" value="$(arg label_map)" />
        <param name="label_map_viz_topic" value="$(arg label_map_viz_topic)" />
    </node>

    <node pkg="solar_planner" type="ltl_planner_node" name="ltl_planner_node" output="screen">
        <param name="use_sim_time" value="true" />
    </node>


    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find jackal_solar_sim)/rviz/mapping.rviz"/>

</launch>
