<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="weights" default="yolo11x-seg.pt" />
    <arg name="input_rgb_topic" default= "/jackal1/camera/color/image_raw" />
    <arg name="input_depth_topic" default="/jackal1/camera/depth/image_rect_raw" />
    <arg name="output_segmentation_topic" default="/segmented_image" />
    <arg name="output_rgb_topic" default="/rgb_image" />
    <arg name="output_depth_topic" default="/depth_image" />
    <arg name="class_topic" default="/class_image" />
    <node name="yolo_seg" pkg="yolo_seg" type="yolo_seg.py" output="screen">
        <rosparam file="$(find yolo_seg)/params/color_id.yaml" />
        <param name="weights" value="$(arg weights)" />
        <param name="input_rgb_topic" value="$(arg input_rgb_topic)" />
        <param name="input_depth_topic" value="$(arg input_depth_topic)" />
        <param name="output_segmentation_topic" value="$(arg output_segmentation_topic)" />
        <param name="output_rgb_topic" value="$(arg output_rgb_topic)" />
        <param name="output_depth_topic" value="$(arg output_depth_topic)" />
        <param name="class_topic" value="$(arg class_topic)" />
        
    </node>

</launch>
